## while문

In [8]:
num = 0

In [ ]:
while num != 4:
    print(num)
    num+=1

In [6]:
while True:
    print(num)
    num+=1
    if num == 4:
        break

0
1
2
3

In [9]:
while num != 10:
    num+=1
    if num == 4:
        continue
    print(num)

1
2
3
5
6
7
8
9
10

## for문

In [6]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [10]:
for i in [(1,2),(3,4),(5,6)]:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [11]:
for i,j in [(1,2),(3,4),(5,6)]:
    print(i,j)

1 2
3 4
5 6

# for문 + if문을 통해서 합격 여부
# [90,25,67,45,80]라는 학생 5명의 점수를 for문으로 합격 여부

In [12]:
student = [90,25,67,45,80]

In [22]:
# for i in student:
for idx,i in enumerate(student):   
    if i >= 60:
#         print(str(student.index(i)+1)+"번 학생은 합격")
        print(f'{idx+1}번 학생은 합격')
    else:
#         print(str(student.index(i)+1)+"번 학생은 불합격")
        print(f'{idx+1}번 학생은 불합격')

1번 학생은 합격
2번 학생은 불합격
3번 학생은 합격
4번 학생은 불합격
5번 학생은 합격

In [26]:
def test(a,b,c):
    return a+b+c+5

In [27]:
test(a=10, c=5, b=4)

24

In [29]:
def test2():
    return 'hi'

In [32]:
test2()

'hi'

In [33]:
def test3(*args):
    sum_list = []
    for i in args:
        sum_list.append(i+3)
    return sum_list

In [34]:
test3(1,2,3,4)

[4, 5, 6, 7]

In [ ]:
student = [90,25,67,45,80]
# for i in student:
for idx,i in enumerate(student):   
    if i >= 60:
#         print(str(student.index(i)+1)+"번 학생은 합격")
        print(f'{idx+1}번 학생은 합격')
    else:
#         print(str(student.index(i)+1)+"번 학생은 불합격")
        print(f'{idx+1}번 학생은 불합격')

# 위 코드를 함수로 만들기
# 한명의 점수만 넣어서 합격인지 불합격인지 리턴받는 함수 제작

In [52]:
def test4(num,line=60):
    try:
        if num >= line:
            return "합격"
        else:
            return "불합격"
    except:
        return '잘못된 입력'

In [53]:
test4('69',70)

'잘못된 입력'

In [57]:
def main():
    print("안녕하세요")
    try:
        age = int (input("나이를 입력하세요: "))
        print("입력한 나이는: ", age)
    except ValueError:
        print('잘못된 입력')
        print("ㅂㅂ")

In [59]:
main()

안녕하세요
나이를 입력하세요: ㅅㅁ
잘못된 입력
ㅂㅂ

In [74]:
def main2():
    print("ㅎㅇ")
    while True:
        try:
            age = int (input("나이를 입력하세요: " ))
            print("입력한 나이는: ", age)
            break;
        except ValueError:
            print('잘못된 입력')

In [76]:
main2()

ㅎㅇ
나이를 입력하세요: aa
잘못된 입력
나이를 입력하세요: 234
입력한 나이는:  234

# lambda

In [77]:
def show(s):
    print(s)

In [78]:
show('ㅎㅇ')

ㅎㅇ

In [86]:
ans = lambda s: print(s)

In [87]:
ans('ㅎㅇ')

ㅎㅇ

In [88]:
lst = ['가렌','파이크','트리스나타','카타리나']

In [89]:
list(map(lambda x: '챔피언 '+x,lst))

['챔피언 가렌', '챔피언 파이크', '챔피언 트리스나타', '챔피언 카타리나']

In [91]:
list(filter(lambda x: x if len(x)==3 else '', lst))

['파이크']

In [92]:
num_list = [1,2,3,4,5,6,7,8,9,10]

In [98]:
def sum_num(x):
    return x * 2

In [95]:
list(map(lambda x: x*2, num_list))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [99]:
list(map(lambda x: sum_num(x), num_list))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [97]:
list(filter(lambda x: x if x%2 == 0 else '' ,num_list))

[2, 4, 6, 8, 10]

#  class

In [103]:
result1 = 0
result2 = 0

In [108]:
def add(num):
    global result1
    result1 += num
    return result1

def add2(num):
    global result2
    result2 += num
    return result2

In [107]:
add(3)

6

In [134]:
class Calculator:
    def __init__(self,first,second):
        self.result = 0
        self.first = first
        self.second = second
        
    def add(self,num):
        self.result += num
        return self.result
    
    def multi(self):
        multi = self.first * self.second
        return multi

In [136]:
Calculator(4,2).multi()

8

In [137]:
Calculator(4,5).multi()

20

In [118]:
cal1.add(4)

15

In [119]:
class MoreCalculator(Calculator):
    def put(self,num):
        self.result -= num
        return self.result

In [127]:
m_cal = MoreCalculator()

In [125]:
m_cal.put(3)

-9

# 파이썬 내부함수

In [144]:
a = '11'
b = '12'

In [145]:
id(a)

1851385631664

In [141]:
a=b

In [146]:
id(b)

1851463708336

## len : list의 길이를 반환하는 함수

In [147]:
num_list = [1,2,3,4,5,6,7,8,9]

In [150]:
for i in range(len(num_list)):
    print(num_list[i])

1
2
3
4
5
6
7
8
9

In [152]:
max(num_list)
min(num_list)

1

In [155]:
round(2.33524,2)

2.34

## zip

In [161]:
a = [1,2,3]
b = [4,5,6,7]

In [162]:
list(zip(a,b))

[(1, 4), (2, 5), (3, 6)]

In [163]:
list(zip('abc','def'))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

 # 1부터 100까지의 정수 중 짝수만 저장된 리스트를 생성

In [305]:
even_list=[]
for i in range(2,101,2):
        even_list.append(i)

In [306]:
even_list

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]


# 1부터 50까지의 숫자 중 5의 배수만 출력(for문,print())

In [206]:
for i in range(1,51):
    if i%5 == 0:
        print(i)
    else:
        continue

5
10
15
20
25
30
35
40
45
50

# 아래와 같이 리스트의 데이터를 출력하는 코드를 작성하시오. (힌트 : for,print)

In [172]:
price_list = [32100, 32150, 32000, 32500]
# 0 32100
# 1 32150
# 2 32000
# 3 32500

In [174]:
for i in price_list:
    print(price_list.index(i),i)

0 32100
1 32150
2 32000
3 32500

In [307]:
for idx,i in enumerate(price_list):
    print(idx,i)

0 32100
1 32150
2 32000
3 32500

# 반복문을 사용하여 다음과 같이 2단에서부터 9단까지의 구구단을 딕셔너리에 저장하는 코드 key 값은 숫자 value 값은 list

In [ ]:
{2:[2,4,6....18],3:[3,6,9,12...27].........}

In [180]:
dan_list={}

In [207]:
for i in range (2,10):
    dan = []
    for j in range (1,10):
        dan.append(i*j)
    dan_list[i]=dan

In [208]:
dan_list

{2: [2, 4, 6, 8, 10, 12, 14, 16, 18],
 3: [3, 6, 9, 12, 15, 18, 21, 24, 27],
 4: [4, 8, 12, 16, 20, 24, 28, 32, 36],
 5: [5, 10, 15, 20, 25, 30, 35, 40, 45],
 6: [6, 12, 18, 24, 30, 36, 42, 48, 54],
 7: [7, 14, 21, 28, 35, 42, 49, 56, 63],
 8: [8, 16, 24, 32, 40, 48, 56, 64, 72],
 9: [9, 18, 27, 36, 45, 54, 63, 72, 81]}

# 리스트에 아래의 데이터가 저장돼 있다고 가정했을때, 아래의 반복문을 이용하여 아래와 같이 출력
# car_num = [[1011,1022], [1201,7202],[2301,1302]]

In [ ]:
차량번호 1011
----
차량번호 1022

In [192]:
car_num = [ [1011,1022],[1201,7202],[2301,1302]]

In [311]:
for i in car_num:
    for j in i:
        print(f'차량번호 {j}')
        print('---')

차량번호 1011
---
차량번호 1022
---
차량번호 1201
---
차량번호 7202
---
차량번호 2301
---
차량번호 1302
---

In [314]:
for i in range(3):
    for j in range(2):
        print(f'차량번호 {car_num[i][j]}')

차량번호 1011
차량번호 1022
차량번호 1201
차량번호 7202
차량번호 2301
차량번호 1302

## 주민등록번호 13자리를 문자열로 입력 받아 남성,여성 판별
## 입력 앞자리-뒷자리
## 반환 남성 or 여성

In [321]:
def gender():
    a=input('주민등록번호 입력 (- 포함): ')
    if int(a[-7]) == 1:
        return '남성'
    else:
        return '여성'

In [330]:
def jumin(a):
    b = a.split('-')[1][0]
    print(b)
    if b == '1':
        return '남성'
    else:
        return '여성'

In [322]:
gender()

주민등록번호 입력 (- 포함): 820327-1022421

'남성'

In [331]:
jumin('820327-2022421')

2

'여성'

## phones = {"s5" : 2014, "s7" : 2016, "note8" : 2017, "s9" : 2018, "s10" : 2019}
입력 "s5"
반환 2014

입력 "s7"
반환 2016

In [279]:
def phone_year():
    a = input('기종 입력: ')
    phones = {"s5" : 2014, "s7" : 2016, "note8" : 2017, "s9" : 2018, "s10" : 2019}
    return phones[a]
#     phones.get(a)

In [280]:
phone_year()

기종 입력: s5

2014

## 입력 010-3222-1234
## 반환 010-3222-####

In [289]:
def phone_num():
    a = input('휴대전화 번호 입력: ')
    return a.replace(a[-4:],'####')

In [349]:
def phone_num2():
    a = input('휴대전화 번호 입력: ')
    b = a.split ('-')
    b[2]='####'
    return ("-".join(b))

In [290]:
phone_num()

휴대전화 번호 입력: 010-3222-1234

'010-3222-####'

In [350]:
phone_num2()

휴대전화 번호 입력: 010-3222-1234

'010-3222-####'

## replace, split

In [293]:
a = '탑,정글,미드,원딜,서폿'

In [357]:
a.split(',')

['탑', '정글', '미드', '원딜', '서폿']

In [301]:
a.replace('원딜','바텀')

'탑,정글,미드,바텀,서폿'